In [58]:
#;.pykx.disableJupyter()

PyKX now running in 'python' mode (default). All cells by default will be run as python code.
Include '%%q' at the beginning of each cell to run as q code.

In [59]:
# https://code.kx.com/pykx/3.0/examples/jupyter-integration.html#q-first-mode
import pykx as kx
kx.util.jupyter_qfirst_enable()

PyKX now running in 'jupyter_qfirst' mode. All cells by default will be run as q code.
Include '%%py' at the beginning of each cell to run as python code.

# KX training Splayed Tables - Exercises

Before starting this section, let's create two tables trade and quote.

In [66]:
n:100
5 sublist trade:([]datetime:asc n?.z.P;sym:n?`AAPL`JPM`IBM`MSFT;price:n?500f;size:n?100 200 500 1000)
5 sublist quote:([]datetime:asc n?.z.P;sym:n?`AAPL`JPM`IBM`MSFT;bid:n?500f;ask:n?500f;bsize:n?200;asize:n?200)

datetime                      sym  price    size
------------------------------------------------
2000.05.13D14:13:25.426032850 IBM  288.8349 500
2000.07.26D00:52:03.643237554 IBM  439.6759 1000
2000.07.29D04:28:41.810471184 AAPL 484.9887 500
2000.10.06D20:05:22.833844484 MSFT 171.4818 100
2000.11.03D19:38:18.198157324 MSFT 153.8032 200
datetime                      sym  bid      ask      bsize asize
----------------------------------------------------------------
2000.01.29D07:34:32.050435499 IBM  179.5724 206.0433 40    91
2001.03.09D20:52:06.460100864 AAPL 370.3689 111.1566 37    180
2001.05.08D16:44:39.241005888 IBM  489.2316 318.5076 104   19
2001.05.21D01:07:14.489090232 AAPL 452.7869 349.4081 150   155
2001.07.28D06:42:43.341575888 MSFT 161.8007 273.2744 175   159

* Save the `trade` table as a flat table called `tradeFlat`

In [61]:
`:tradeFlat set trade

:tradeFlat

In [67]:
//your answer here 
`:tradeFlat set trade

:tradeFlat

* Save the `trade` table as a splayed table called `tradeSplay`

In [ ]:
`:tradeSplay/ set .Q.en[`:.;trade]

In [68]:
//your answer here 
`:tradeSplay/ set .Q.en[`:.;trade]

:tradeSplay/

* Load the splayed table and save it into memory as `tradeSplay`

In [ ]:
tradeSplay:get `:tradeSplay/
tradeSplay

In [69]:
//your answer here 
tradeSplay: get `:tradeSplay/

* Save the `quote` table as a splayed table called `quoteSplay`.

In [9]:
//`:quoteSplay/ set .Q.en[`:quoteSplay;quote]   //remember, the table needs to be enumerated before saving!

In [113]:
//your answer here 
`:quoteSplay/ set .Q.en[`:quoteSplay;quote]

* Change the `.d` file for the `quoteSplay` table to omit the bsize and asize columns. Reload the splayed column. What happens?

In [ ]:
get `:quoteSplay/.d   //this is our quoteSplay .d file

In [ ]:
.[`:quoteSplay/.d;();:;`datetime`sym`bid`ask] //modifying .d to delete columns
get `:quoteSplay/.d

In [ ]:
10#get `:quoteSplay //resulting table will no longer have bsize and asize columns

In [71]:
//your answer here 
`:quoteSplay/.d set get [`:quoteSplay/.d] except `bsize, `asize
get `:quoteSplay

:quoteSplay/.d
datetime                      sym  bid      ask
----------------------------------------------------
2000.01.07D14:06:22.329209620 JPM  10.15223 58.97547
2000.03.14D11:31:04.689905477 JPM  295.1004 448.8419
2000.03.26D06:38:41.646640655 IBM  459.6977 98.68083
2000.04.18D01:48:10.394621040 AAPL 90.56856 301.9479
2000.06.05D09:56:28.043869322 IBM  487.7681 9.465119
2000.12.23D22:42:48.263539368 IBM  141.1506 413.6739
2001.03.14D23:30:05.094122544 JPM  220.2457 97.29415
2001.05.05D21:02:29.233400080 IBM  330.3901 448.807
2001.05.27D05:26:23.006045792 IBM  64.4854  492.0889
2001.08.18D12:37:11.814917304 AAPL 82.15359 266.1971
2001.11.19D21:59:16.486078880 AAPL 162.4827 39.99594
2001.11.23D08:52:46.323227240 AAPL 106.2833 161.9588
2002.03.25D23:33:03.385845240 IBM  63.28638 403.0263
2002.07.05D13:23:51.018558016 MSFT 173.7155 439.9955
2002.07.27D00:09:25.727562976 IBM  56.88531 395.5481
2002.08.16D13:18:08.444806240 IBM  70.89396 186.7794
2002.09.10D11:39:56.803614992 IBM  350.7918 115.7833
2002.09.15D14:14:53.380879136 JPM  184.841  230.6046
2003.01.16D18:16:06.288752640 AAPL 449.5528 59.39489
2003.03.10D23:34:28.134570672 AAPL 400.4345 397.7945
..

Write the following functions:

##### writeSplay

* arguments:
    * directory
    * table name as a symbol
* function should save a sub-directory t under dir that contains a file for each column, as well as a .d file
* If the table has column(s) of type symbol, a binary file sym should be stored under dir with a distinct list of the symbols across all these columns
* function should return the path to the splayed directory that was written to

In [72]:
writeSplay:{[dir;t]
    (` sv (dir,t,`)) set .Q.en[dir;get t]
 }

In [73]:
//writeSplay:   // write your code here
writeSplay:{[dir;table]
            (` sv (dir,table,`)) set .Q.en[dir;get table];
            }


            //enumerate and set to the directory as a splayed table
            //return path (not sure how)

Example of Code:

    trade:([]time:3#.z.P;sym:`JPM`GE`GE;size:100 200 300;price:375 412 231;exchange:`N`N`T)	// define some random trade table trade
    time                          sym size price exchange
    -----------------------------------------------------
    2016.03.21D09:35:27.171584000 JPM 100  375   N
    2016.03.21D09:35:27.171584000 GE  200  412   N
    2016.03.21D09:35:27.171584000 GE  300  231   T


    writeSplay[`:db1;`trade]									// write down the splayed table to some directory (using db in this case (short for database))
    `:db1/trade/

    get `:db1/trade/
    time                          sym size price exchange
    -----------------------------------------------------
    2016.03.21D09:35:27.171584000 JPM 100  375   N
    2016.03.21D09:35:27.171584000 GE  200  412   N
    2016.03.21D09:35:27.171584000 GE  300  231   T
    
    key `:db1													// list the contents of the db directory
    `s#`sym`trade												// note the enumerated symbols in a file called sym
    
    key `:db1/trade/											// list the contents of the splayed directory
    `.d`exchange`price`size`sym`time

In [74]:
trade:([]time:3#.z.P;sym:`JPM`GE`GE;size:100 200 300;price:375 412 231;exchange:`N`N`T);
trade

time                          sym size price exchange
-----------------------------------------------------
2025.03.12D23:00:01.054986350 JPM 100  375   N
2025.03.12D23:00:01.054986350 GE  200  412   N
2025.03.12D23:00:01.054986350 GE  300  231   T

In [75]:
writeSplay[`:db1;`trade]      // test output

In [76]:
get `:db1/trade/
key `:db1             
key `:db1/trade/

time                          sym size price exchange
-----------------------------------------------------
2025.03.12D23:00:01.054986350 JPM 100  375   N
2025.03.12D23:00:01.054986350 GE  200  412   N
2025.03.12D23:00:01.054986350 GE  300  231   T
`s#`sym`trade
`s#`.d`d`exchange`price`size`sym`time

In [77]:
//checking enumeration 
//`JPM`GE`N`T~
get `:db1/sym

`JPM`GE`N`T

##### softDelete1Col

- arguments:
    * directory
    * table name
    * column name
- function should soft delete the column i.e. the column can be reinstated at a later stage with no loss of data. When the dir directory is loaded in by a q process, the column c should not be present in the table
- function should return the path to the .d file

In [ ]:
softDelete1Col:{[dir;t;c]
        p set get[p:` sv dir,t,`.d]except c
 }

In [78]:
//softDelete1Col:  // write your code here

softDelete1Col:{[dirName;tableName;columnName]
             tablePath: ` sv dirName,tableName, `.d;
             tablePath set get[tablePath] except columnName }

Example of Code

    softDelete1Col[`:db1;`trade;`size]
    `:db1/trade/.d             // returns path to .d file
		
        
    get `:db1/trade
    time                          sym price exchange
    ------------------------------------------------
    2016.03.21D09:35:27.171584000 JPM 375   N
    2016.03.21D09:35:27.171584000 GE  412   N
    2016.03.21D09:35:27.171584000 GE  231   T

In [79]:
softDelete1Col[`:db1;`trade;`size]    // test output 
get `:db1/trade

:db1/trade/.d
time                          sym price exchange
------------------------------------------------
2025.03.12D23:00:01.054986350 JPM 375   N
2025.03.12D23:00:01.054986350 GE  412   N
2025.03.12D23:00:01.054986350 GE  231   T

In [80]:
//logical checks not saved flat 
key `:db1/trade       //should be a list of column files and a .d file - size should still be here

`s#`.d`d`exchange`price`size`sym`time

##### order1Cols

- arguments:
    * directory
    * table name
    * column names
- function edits the column list of a table. It can also be used to remove or restore soft deleted column(s)
- function should return the path to the .d file

In [ ]:
order1Cols:{[dir;t;c]
        sv[`;dir,t,`.d]set c
 }

In [81]:
//order1Cols:   // write your code here
order1Cols:{[dirName;table;columnNames]
            (` sv (dirName;table;`.d)) set columnNames}

 Example of Code

    order1Cols[`:db1;`trade;`time`sym`price`size`exchange]
    `:db1/trade/.d

    get `:db1/trade
    time                          sym price size exchange					// price and size are now in reverse order
    -----------------------------------------------------
    2016.03.21D09:35:27.171584000 JPM 375   100  N
    2016.03.21D09:35:27.171584000 GE  412   200  N
    2016.03.21D09:35:27.171584000 GE  231   300  T

In [82]:
order1Cols[`:db1;`trade;`time`sym`price`size`exchange]    // test output before submitting
get `:db1/trade

:db1/trade/.d
time                          sym price size exchange
-----------------------------------------------------
2025.03.12D23:00:01.054986350 JPM 375   100  N
2025.03.12D23:00:01.054986350 GE  412   200  N
2025.03.12D23:00:01.054986350 GE  231   300  T

In [83]:
//logical checks not saved flat 
key `:db1/trade       //should be a list of column files and a .d file - size should still be here

`s#`.d`d`exchange`price`size`sym`time

##### delete1Col

- arguments:
    * directory
    * table name
    * column name

- function should remove the column c entirely i.e. a hard delete
- function should not complain if the column to be deleted doesn't exist
- function should return the path to the .d file

In [ ]:
delete1Col:{[dir;t;c]
        if[not()~key p:` sv dir,t,c;
                hdel p];
        softDelete1Col[dir;t;c]                         / can just re-use this function here
 }

In [84]:
delete1Col:{[dirName;table;columnName]
        if[not()~key path:` sv dirName,table,columnName;
                hdel path];
        softDelete1Col[dirName;table;columnName]                         / can just re-use this function here
 }

Example of Code

    delete1Col[`:db1;`trade;`asdf]
    `:db1/trade/.d							// asdf column does not exist but the function runs regardless
    delete1Col[`:db1;`trade;`size]
    `:db1/trade/.d

    get `:db1/trade
    time                          sym price exchange
    ------------------------------------------------
    2016.03.21D09:35:27.171584000 JPM 375   N
    2016.03.21D09:35:27.171584000 GE  412   N
    2016.03.21D09:35:27.171584000 GE  231   T

In [85]:
delete1Col[`:db1;`trade;`asdf]

:db1/trade/.d

In [103]:
delete1Col[`:db1;`trade;`size]    // test output before submitting
count get `:db1/trade

:db1/trade/.d
3

In [98]:
//logical checks not saved flat 
key `:db1/trade       //should be a list of column files and a .d file - size should not be here

`s#`.d`d`exchange`price`sym`time

##### add1Col

- arguments:
     * directory
     * table name
     * column name
     * default value - you can assume that this value is either a non-symbol type or has already been enumerated i.e. you do not need to enumerate this value
- function should add a new column to the splayed directory and assign it the default value specified. When adding the new column, ensure that it is the same length as the number of rows in the table currently
- function should return the path to the added column file
- if the column already exists the function should signal an error 'exists

In [ ]:
add1Col:{[dir;t;c;v]
        if[c in files:key` sv dir,t;            // check if a column file already exists
                'exists];                       // throw an error if it does
        n:count get` sv dir,t,last files;       // count the number of records in the table by counting one of the columns (I use last because .d will be the first)
        sv[`;dir,t,`.d]?c;                      // use ? to join the column name to the .d file if it's not already there
        sv[`;dir,t,c]set n#v                    // save down the column file
 }

In [107]:
add1Col:{[dirName;table;columnName;defValue]
         if[columnName in key (` sv (dirName, table)); `exists];
         n:count get (` sv (dirName, table));
         sv[`;dirName,table,`.d]?columnName; 
         (` sv (dirName, table, columnName)) set n#defValue }

Example of Code

    add1Col[`:db1;`trade;`price;500]
    {[dir;t;c;v]
    // Implementation Hidden
    }
    'exists								// throws an error and puts us into debug mode as the column exists
        
    add1Col[`:db1;`trade;`size;500]		// add a column that doesn't exists (size was removed previously)
    `:db1/trade/size

   
    get `:db1/trade
    time                          sym price exchange size
    -----------------------------------------------------
    2016.03.21D09:35:27.171584000 JPM 375   N        500
    2016.03.21D09:35:27.171584000 GE  412   N        500
    2016.03.21D09:35:27.171584000 GE  231   T        500

In [108]:
add1Col[`:db1;`trade;`price;500] // test output before submitting

:db1/trade/price

In [109]:
add1Col[`:db1;`trade;`size;500]      // test output before submitting
get `:db1/trade

:db1/trade/size
time                          sym price exchange size
-----------------------------------------------------
2025.03.12D23:00:01.054986350 JPM 500   N        500
2025.03.12D23:00:01.054986350 GE  500   N        500
2025.03.12D23:00:01.054986350 GE  500   T        500

In [110]:
//logical checks not saved flat 
key `:db1/trade       //should be a list of column files and a .d file - size should now be here

`s#`.d`d`exchange`price`size`sym`time

In [112]:
//RETURNING EVERY TUESDAY IN A RANGE OF DATES

foo:{[earlierDate;laterDate]
     drange:laterDate-earlierDate;
     daylist:earlierDate + til drange;
     //last daylist}
     daylist where 3= daylist mod 7 }
foo[2023.01.01;.z.d]

2023.01.03 2023.01.10 2023.01.17 2023.01.24 2023.01.31 2023.02.07 2023.02.14 ..