In [2]:
#;.pykx.disableJupyter()

In [3]:
# https://code.kx.com/pykx/3.0/examples/jupyter-integration.html#q-first-mode
import pykx as kx
kx.util.jupyter_qfirst_enable()

PyKX now running in 'jupyter_qfirst' mode. All cells by default will be run as q code.
Include '%%py' at the beginning of each cell to run as python code.

## KX Training Introduction to data on disk: Exercises

### Get and set

Create the functions below:

* **readBinaryAndCreateVariable** - accepts a symbol (not a hsym) as its sole argument, which represents the name of a binary file in the current directory (\\pwd). <br> The function should read in this binary file and create a global variable in the root namespace of the process with this name, and the variable should contain whatever is in the file. <br> Finally the function should return the argument that was passed in, indicating successful creation of the variable

In [1]:
readBinaryAndCreateVariable:{[filenameOnDisk] 
            fileHandle: hsym filenameOnDisk;  //getting the hsym of the filename
            v: get fileHandle;                //retreive the kdb+/q value 
            filenameOnDisk set v              //setting the value as a variable locally
    };
`:myList set til 10                           //making a variable in the local directory for testing 

readBinaryAndCreateVariable[`myList]
myList

`:myList

`myList

0 1 2 3 4 5 6 7 8 9

In [4]:
//getting the hsym of the filename
//retreive the kdb+/q value 
//setting the value as a variable locally
//making a variable in the local directory for testing 
readBinaryAndCreate:{[binaryFile]
                     binaryFileHandle: hsym[binaryFile];
                     fileCopy: get binaryFileHandle;
                     binaryFile set fileCopy};

`:testList set til 20

readBinaryAndCreate[`testList]

:testList
testList

* **saveBinaryFromVariable** - accepts a symbol as its sole argument, which represents the name of a variable in the q process - the function should save the variable in the current working directory and return the name of the variable indicating a successful write

In [3]:
saveBinaryFromVariable:{[variableName] 
                hsym[variableName] set variableName;
                variableName}

newTable: ([]c1:`a`b`c;c2:til 3)
saveBinaryFromVariable `newTable
`newTable in key `:.

`newTable

1b

In [5]:
//your answer here
saveBinaryFromVariable:{[subjectSymbol]
                            hsym[subjectSymbol] set subjectSymbol;
                             subjectSymbol}
testTable: ([]symbols:`a`b`c; values:1 2 3)
saveBinaryFromVariable[`testTable]

\ls

testTable
"Introduction to data on disk Exercises.ipynb"
"Introduction to data on disk.ipynb"
"data"
"flatT"
"flatsector"
,"t"
"t.csv"
"t.json"
"t.txt"
"testList"
"testTable"

### Flat files

* Create a table `t2` that contains 20 random records from the table below: 
  - time: time between 4PM and 5PM (sorted in ascending order)
  - sym:\`IBM\`VOD\`VED\`DELL\`AAPL\`KX\`AMZN
  - price: floats ranging from 20 to 200
  - size: longs ranging from 40 to 2000

In [40]:
t2:([]time:asc 20?`time$16:00+til 61;sym:20?`IBM`VOD`VED`DELL`AAPL`KX`AMZN;price:20+20?180f;size:40+20?1600)

In [13]:
//your answer here
time:asc 20?`time$16:00 + til 61
sym: 20?`IBM`VOD`VED`DELL`AAPL`KX`AMZN
price: 20 +20?`float$180
size: 40 + 20?1960
show t2:([]time;sym;price;size)
meta t2

c    | t f a
-----| -----
time | t   s
sym  | s
price| f
size | j
time         sym  price    size
-------------------------------
16:02:00.000 DELL 185.3335 1592
16:10:00.000 DELL 189.3602 776
16:18:00.000 IBM  53.53674 1122
16:19:00.000 VOD  59.29431 613
16:22:00.000 AAPL 47.14274 1821
16:26:00.000 IBM  124.5476 1494
16:28:00.000 VOD  32.62883 1596
16:29:00.000 IBM  32.49764 597
16:33:00.000 VED  146.8053 627
16:38:00.000 VOD  111.4892 1614
16:38:00.000 AAPL 135.3391 616
16:41:00.000 KX   133.2669 501
16:42:00.000 AAPL 86.77267 755
16:42:00.000 KX   63.72276 1588
16:43:00.000 IBM  125.7773 1802
16:44:00.000 AMZN 171.1806 99
16:51:00.000 VOD  57.32885 386
16:54:00.000 AMZN 53.55626 1031
16:56:00.000 DELL 155.5838 546
17:00:00.000 AMZN 100.0665 495

* Save `t2` to disk as a flat table in the data directory

In [42]:
`:data/t2 set t2

`:data/t2

In [14]:
//your answer here
`:data/t2 set t2

:data/t2

* Add two rows to the table on disk. 

```([]time:17:02:00 17:04:00;sym:`AAPL`MSFT;price:100.55 135.68;size:80 1400)```

In [44]:
`:data/t2 upsert ([]time:17:02:00.00 17:04:00.00;sym:`AAPL`MSFT;price:100.55 135.68;size:80 1400)

`:data/t2

In [15]:
newData:([]time:17:02:00.00 17:04:00.00;sym:`AAPL`MSFT;price:100.55 135.68;size:80 1400)
meta newData

c    | t f a
-----| -----
time | t
sym  | s
price| f
size | j

In [16]:
`:data/t2 upsert newData

:data/t2

In [17]:
get `:data/t2

time         sym  price    size
-------------------------------
16:02:00.000 DELL 185.3335 1592
16:10:00.000 DELL 189.3602 776
16:18:00.000 IBM  53.53674 1122
16:19:00.000 VOD  59.29431 613
16:22:00.000 AAPL 47.14274 1821
16:26:00.000 IBM  124.5476 1494
16:28:00.000 VOD  32.62883 1596
16:29:00.000 IBM  32.49764 597
16:33:00.000 VED  146.8053 627
16:38:00.000 VOD  111.4892 1614
16:38:00.000 AAPL 135.3391 616
16:41:00.000 KX   133.2669 501
16:42:00.000 AAPL 86.77267 755
16:42:00.000 KX   63.72276 1588
16:43:00.000 IBM  125.7773 1802
16:44:00.000 AMZN 171.1806 99
16:51:00.000 VOD  57.32885 386
16:54:00.000 AMZN 53.55626 1031
16:56:00.000 DELL 155.5838 546
17:00:00.000 AMZN 100.0665 495
..