In [1]:
#;.pykx.disableJupyter()

In [2]:
# https://code.kx.com/pykx/3.0/examples/jupyter-integration.html#q-first-mode
import pykx as kx
kx.util.jupyter_qfirst_enable()

PyKX now running in 'jupyter_qfirst' mode. All cells by default will be run as q code.
Include '%%py' at the beginning of each cell to run as python code.

In [3]:
trade:([]time: 10000?.z.n; sym:10000?`JPM`GE`MSFT;size:10000?1000;price:10000?12.0;side:10000?`B`S;exchange:10000?`N`T`L);
trade:update asc time from trade;

quote: delete price, side, exchange from update sym: 10000?`JPM`GE`MSFT, time:asc 10000?.z.n, ask:price+10000?0.5, bid: price - 10000?0.55 from trade;

## KX Training Exercises - Functional Queries

### Getting started

* Use qSQL to select all trades from the trade table where the sym is GE.

In [ ]:
select from trade where sym =`GE

In [6]:
//your answer here
select from trade where sym = `GE

time                 sym size price     side exchange
-----------------------------------------------------
0D00:00:02.728127870 GE  836  7.902781  B    N
0D00:00:09.459668482 GE  629  0.8670789 S    L
0D00:00:13.284543507 GE  887  0.1945694 S    N
0D00:00:24.989021263 GE  886  9.099495  S    N
0D00:00:32.307062063 GE  651  1.317616  S    L
0D00:00:38.086324184 GE  316  6.716545  B    L
0D00:00:38.483768970 GE  279  0.1117252 S    L
0D00:00:43.565919907 GE  193  3.319038  S    N
0D00:00:51.570652165 GE  371  4.902494  S    N
0D00:00:53.538480245 GE  30   4.286536  S    L
0D00:00:55.737594298 GE  657  10.34786  S    T
0D00:00:57.464113668 GE  900  3.691099  B    T
0D00:00:58.826566439 GE  500  7.896539  S    T
0D00:01:08.299175799 GE  170  9.388716  S    N
0D00:01:13.940965580 GE  187  10.55421  B    L
0D00:01:21.765484509 GE  618  4.303683  S    L
0D00:01:22.925719302 GE  488  7.566707  B    L
0D00:01:32.443642359 GE  994  2.643496  B    T
0D00:01:35.586321722 GE  355  11.5811   S    N
0D00:01:35.793767608 GE  389  4.152322  S    L
..

* Write the same query in its functional form.

In [ ]:
parse"select from trade where sym =`GE"
?[trade;enlist(=;`sym;enlist `GE);0b;()]

In [7]:
//your answer here
parse "select from trade where sym = `GE"

?
`trade
,,(=;`sym;,`GE)
0b
()

In [9]:
?[`trade;enlist(=;`sym;enlist `GE);0b;()]

time                 sym size price     side exchange
-----------------------------------------------------
0D00:00:02.728127870 GE  836  7.902781  B    N
0D00:00:09.459668482 GE  629  0.8670789 S    L
0D00:00:13.284543507 GE  887  0.1945694 S    N
0D00:00:24.989021263 GE  886  9.099495  S    N
0D00:00:32.307062063 GE  651  1.317616  S    L
0D00:00:38.086324184 GE  316  6.716545  B    L
0D00:00:38.483768970 GE  279  0.1117252 S    L
0D00:00:43.565919907 GE  193  3.319038  S    N
0D00:00:51.570652165 GE  371  4.902494  S    N
0D00:00:53.538480245 GE  30   4.286536  S    L
0D00:00:55.737594298 GE  657  10.34786  S    T
0D00:00:57.464113668 GE  900  3.691099  B    T
0D00:00:58.826566439 GE  500  7.896539  S    T
0D00:01:08.299175799 GE  170  9.388716  S    N
0D00:01:13.940965580 GE  187  10.55421  B    L
0D00:01:21.765484509 GE  618  4.303683  S    L
0D00:01:22.925719302 GE  488  7.566707  B    L
0D00:01:32.443642359 GE  994  2.643496  B    T
0D00:01:35.586321722 GE  355  11.5811   S    N
0D00:01:35.793767608 GE  389  4.152322  S    L
..

*  Use a functional exec statements to return all trades where the sym is GE.

In [ ]:
//if we don't specify any columns to return from our exec we'll just get the last record!
?[trade;enlist(=;`sym;enlist `GE);();`$()]   //exec aggregation is an empty list

In [ ]:
//we really need to pass all the columns to get all the trade values back 
a:x!x:cols[trade]
a
?[trade;enlist(=;`sym;enlist `GE);();a]

In [10]:
//your answer here
parse "exec from trade where sym = `GE"

?
`trade
,,(=;`sym;,`GE)
()
()

In [13]:
allCols:x!x:cols[trade]
allCols

?[`trade;enlist(=;`sym;enlist `GE);();allCols]

time    | time
sym     | sym
size    | size
price   | price
side    | side
exchange| exchange
time    | 0D00:00:02.728127870 0D00:00:09.459668482 0D00:00:13.284543507 0D00..
sym     | GE                   GE                   GE                   GE  ..
size    | 836                  629                  887                  886 ..
price   | 7.902781             0.8670789            0.1945694            9.09..
side    | B                    S                    S                    S   ..
exchange| N                    L                    N                    N   ..

* What is the difference between the functional form of a select statement and an exec statement?

An `exec` statement is a special form of a select statement. 

In order to specify an `exec` that results in a dictionary (not a keyed table), or a single list we need to specify the group-by constraint as an empty list, not a boolean value.

In order to return a single list, we would provide the name of the column to `exec`, as the last aggregation argument.

In [ ]:
?[trade;();();`sym]   //exec sym from trade

If we wanted to return more than only column as a dictionary, we would provide that a dictionary of our required values as the last argument.

In [ ]:
?[trade;();();`sym`size!`sym`size]   //exec sym, size from trade

In [14]:
//your answer here
/
the third argument(groupby) in the brackets is usually () instead of 0b or 1b. This constraint is
given as an empty list, not a boolean value as is the case with "select"
\

* Write an update statement that returns a table with all GE syms as GOOGL.

In [19]:
//constraint - where sym = `GE
//update columns - sym -> GOOGL
![trade;enlist (=;`sym;enlist `GE);0b;enlist[`sym]!enlist(enlist `GOOGL)]

time                 sym   size price     side exchange
-------------------------------------------------------
0D00:00:01.950602791 JPM   50   4.023332  B    L
0D00:00:02.454503056 JPM   416  8.303743  B    T
0D00:00:02.728127870 GOOGL 836  7.902781  B    N
0D00:00:04.588046556 JPM   701  5.712206  B    T
0D00:00:05.866734208 MSFT  971  1.234537  B    N
0D00:00:07.776400516 MSFT  99   5.344637  S    T
0D00:00:09.459668482 GOOGL 629  0.8670789 S    L
0D00:00:11.483889918 MSFT  647  3.300439  B    N
0D00:00:12.586957996 MSFT  4    5.01986   B    N
0D00:00:13.284543507 GOOGL 887  0.1945694 S    N
0D00:00:15.289039127 MSFT  644  3.749992  B    L
0D00:00:17.988166025 JPM   110  3.090464  S    T
0D00:00:20.896651584 JPM   424  1.113022  S    L
0D00:00:24.989021263 GOOGL 886  9.099495  S    N
0D00:00:32.307062063 GOOGL 651  1.317616  S    L
0D00:00:34.720690505 JPM   936  1.714663  B    T
0D00:00:36.422751101 MSFT  631  3.776316  S    N
0D00:00:38.086324184 GOOGL 316  6.716545  B    L
0D00:00:38.483768970 GOOGL 279  0.1117252 S    L
0D00:00:39.083153324 MSFT  513  5.016888  B    L
..

In [17]:
//your answer here
parse"update sym:`GOOGL from trade where sym = `GE"

!
`trade
,,(=;`sym;,`GE)
0b
(,`sym)!,,`GOOGL

In [20]:
![trade; enlist(=;`sym; enlist `GE);0b;(enlist`sym)!enlist (enlist `GOOGL)]

time                 sym   size price     side exchange
-------------------------------------------------------
0D00:00:01.950602791 JPM   50   4.023332  B    L
0D00:00:02.454503056 JPM   416  8.303743  B    T
0D00:00:02.728127870 GOOGL 836  7.902781  B    N
0D00:00:04.588046556 JPM   701  5.712206  B    T
0D00:00:05.866734208 MSFT  971  1.234537  B    N
0D00:00:07.776400516 MSFT  99   5.344637  S    T
0D00:00:09.459668482 GOOGL 629  0.8670789 S    L
0D00:00:11.483889918 MSFT  647  3.300439  B    N
0D00:00:12.586957996 MSFT  4    5.01986   B    N
0D00:00:13.284543507 GOOGL 887  0.1945694 S    N
0D00:00:15.289039127 MSFT  644  3.749992  B    L
0D00:00:17.988166025 JPM   110  3.090464  S    T
0D00:00:20.896651584 JPM   424  1.113022  S    L
0D00:00:24.989021263 GOOGL 886  9.099495  S    N
0D00:00:32.307062063 GOOGL 651  1.317616  S    L
0D00:00:34.720690505 JPM   936  1.714663  B    T
0D00:00:36.422751101 MSFT  631  3.776316  S    N
0D00:00:38.086324184 GOOGL 316  6.716545  B    L
0D00:00:38.483768970 GOOGL 279  0.1117252 S    L
0D00:00:39.083153324 MSFT  513  5.016888  B    L
..

* How does this differ from functional select and exec statements?

If differs primarily by using the `!` operator rather than the `?` operation in functional format. The other differences with functional `select` and `exec` are the differences arising in the syntax for `exec`. Other than that, the syntax for `update` and `select` are equivalent. 

A major difference is the return values - an `update` will return the table with the updates added, while a `select` will only return the columns specific and where the constraint is met,

In [21]:
//your answer here
/
1. The use of the ! instead of the ?

2. Update return all rows, with those that do not meet the update criteria too. Select return only thoose that meet the specified criteria
\

* Return the trade table filtered for only `JPM` and `MSFT`

In [ ]:
whereClause:enlist (in;`sym;enlist `JPM`MSFT);
byClause:0b; 
returnClause:()

?[trade;whereClause;byClause;returnClause]

In [22]:
//your answer here
select from trade where sym in `JPM`MSFT

time                 sym  size price     side exchange
------------------------------------------------------
0D00:00:01.950602791 JPM  50   4.023332  B    L
0D00:00:02.454503056 JPM  416  8.303743  B    T
0D00:00:04.588046556 JPM  701  5.712206  B    T
0D00:00:05.866734208 MSFT 971  1.234537  B    N
0D00:00:07.776400516 MSFT 99   5.344637  S    T
0D00:00:11.483889918 MSFT 647  3.300439  B    N
0D00:00:12.586957996 MSFT 4    5.01986   B    N
0D00:00:15.289039127 MSFT 644  3.749992  B    L
0D00:00:17.988166025 JPM  110  3.090464  S    T
0D00:00:20.896651584 JPM  424  1.113022  S    L
0D00:00:34.720690505 JPM  936  1.714663  B    T
0D00:00:36.422751101 MSFT 631  3.776316  S    N
0D00:00:39.083153324 MSFT 513  5.016888  B    L
0D00:00:48.923515631 MSFT 12   1.821893  B    L
0D00:00:58.936017395 MSFT 657  0.9566334 S    T
0D00:01:00.993235493 JPM  48   2.891547  S    T
0D00:01:10.809479303 MSFT 784  10.92874  S    T
0D00:01:17.371051019 JPM  976  4.355798  S    T
0D00:01:22.546273164 MSFT 780  3.577579  B    L
0D00:01:23.021708652 JPM  443  1.516432  S    N
..

In [23]:
parse "select from trade where sym in `JPM`MSFT"

?
`trade
,,(in;`sym;,`JPM`MSFT)
0b
()

In [24]:
?[`trade;enlist(in;`sym;enlist `JPM`MSFT);0b;()]

time                 sym  size price     side exchange
------------------------------------------------------
0D00:00:01.950602791 JPM  50   4.023332  B    L
0D00:00:02.454503056 JPM  416  8.303743  B    T
0D00:00:04.588046556 JPM  701  5.712206  B    T
0D00:00:05.866734208 MSFT 971  1.234537  B    N
0D00:00:07.776400516 MSFT 99   5.344637  S    T
0D00:00:11.483889918 MSFT 647  3.300439  B    N
0D00:00:12.586957996 MSFT 4    5.01986   B    N
0D00:00:15.289039127 MSFT 644  3.749992  B    L
0D00:00:17.988166025 JPM  110  3.090464  S    T
0D00:00:20.896651584 JPM  424  1.113022  S    L
0D00:00:34.720690505 JPM  936  1.714663  B    T
0D00:00:36.422751101 MSFT 631  3.776316  S    N
0D00:00:39.083153324 MSFT 513  5.016888  B    L
0D00:00:48.923515631 MSFT 12   1.821893  B    L
0D00:00:58.936017395 MSFT 657  0.9566334 S    T
0D00:01:00.993235493 JPM  48   2.891547  S    T
0D00:01:10.809479303 MSFT 784  10.92874  S    T
0D00:01:17.371051019 JPM  976  4.355798  S    T
0D00:01:22.546273164 MSFT 780  3.577579  B    L
0D00:01:23.021708652 JPM  443  1.516432  S    N
..

* Return the trade table with a new column `vol` which is the `size` multiplied by the `price`.

In [ ]:
//qSQL
update vol:size*price from trade

In [ ]:
whereClause:()
byClause:0b
returnClause:enlist [`vol]! enlist (*;`size;`price)   //update only needs the new columns
 
![trade;whereClause;byClause;returnClause]

In [ ]:
//alternatively as a select statement 
whereClause:()
byClause:0b
returnClause: (cols[trade],`vol)!cols[trade],enlist (*;`size;`price) //need to explictly return all the columns

?[trade;whereClause;byClause;returnClause]

In [27]:
//your answer here
parse "update vol:size*price from trade"
![trade;();0b;(enlist `vol)!enlist(*;`size;`price)]

!
`trade
()
0b
(,`vol)!,(*;`size;`price)
time                 sym   size price     side exchange vol
----------------------------------------------------------------
0D00:00:01.950602791 JPM   50   4.023332  B    L        201.1666
0D00:00:02.454503056 JPM   416  8.303743  B    T        3454.357
0D00:00:02.728127870 GOOGL 836  7.902781  B    N        6606.725
0D00:00:04.588046556 JPM   701  5.712206  B    T        4004.256
0D00:00:05.866734208 MSFT  971  1.234537  B    N        1198.736
0D00:00:07.776400516 MSFT  99   5.344637  S    T        529.1191
0D00:00:09.459668482 GOOGL 629  0.8670789 S    L        545.3926
0D00:00:11.483889918 MSFT  647  3.300439  B    N        2135.384
0D00:00:12.586957996 MSFT  4    5.01986   B    N        20.07944
0D00:00:13.284543507 GOOGL 887  0.1945694 S    N        172.5831
0D00:00:15.289039127 MSFT  644  3.749992  B    L        2414.995
0D00:00:17.988166025 JPM   110  3.090464  S    T        339.951
0D00:00:20.896651584 JPM   424  1.113022  S    L        471.9214
0D00:00:24.989021263 GOOGL 886  9.099495  S    N        8062.152
0D00:00:32.307062063 GOOGL 651  1.317616  S    L        857.7683
0D00:00:34.720690505 JPM   936  1.714663  B    T        1604.924
0D00:00:36.422751101 MSFT  631  3.776316  S    N        2382.855
0D00:00:38.086324184 GOOGL 316  6.716545  B    L        2122.428
0D00:00:38.483768970 GOOGL 279  0.1117252 S    L        31.17134
0D00:00:39.083153324 MSFT  513  5.016888  B    L        2573.664
..

* Remove the `exchange` column from the `trade` table.

In [ ]:
//qSQL 
delete exchange from trade 
parse"delete exchange from trade"

In [ ]:
whereClause:()
byClause:0b
returnClause:enlist `exchange

![trade;whereClause;byClause;returnClause]

In [30]:
//your answer here
parse "delete exchange from trade"
![trade;();0b;enlist`exchange]

!
`trade
()
0b
,,`exchange
time                 sym   size price     side
----------------------------------------------
0D00:00:01.950602791 JPM   50   4.023332  B
0D00:00:02.454503056 JPM   416  8.303743  B
0D00:00:02.728127870 GOOGL 836  7.902781  B
0D00:00:04.588046556 JPM   701  5.712206  B
0D00:00:05.866734208 MSFT  971  1.234537  B
0D00:00:07.776400516 MSFT  99   5.344637  S
0D00:00:09.459668482 GOOGL 629  0.8670789 S
0D00:00:11.483889918 MSFT  647  3.300439  B
0D00:00:12.586957996 MSFT  4    5.01986   B
0D00:00:13.284543507 GOOGL 887  0.1945694 S
0D00:00:15.289039127 MSFT  644  3.749992  B
0D00:00:17.988166025 JPM   110  3.090464  S
0D00:00:20.896651584 JPM   424  1.113022  S
0D00:00:24.989021263 GOOGL 886  9.099495  S
0D00:00:32.307062063 GOOGL 651  1.317616  S
0D00:00:34.720690505 JPM   936  1.714663  B
0D00:00:36.422751101 MSFT  631  3.776316  S
0D00:00:38.086324184 GOOGL 316  6.716545  B
0D00:00:38.483768970 GOOGL 279  0.1117252 S
0D00:00:39.083153324 MSFT  513  5.016888  B
..

* Return the VWAP for each 15 minutes of the day for all stocks from the trade table

In [34]:
select VWAP:size wavg price by 15 xbar time.minute, sym from trade

minute sym  | VWAP
------------| --------
00:00  GOOGL| 5.199817
00:00  JPM  | 5.867571
00:00  MSFT | 6.17178
00:15  GOOGL| 5.515229
00:15  JPM  | 6.05027
00:15  MSFT | 6.427343
00:30  GOOGL| 5.6042
00:30  JPM  | 5.372532
00:30  MSFT | 5.925803
00:45  GOOGL| 5.699392
00:45  JPM  | 5.981638
00:45  MSFT | 6.901365
01:00  GOOGL| 6.038383
01:00  JPM  | 5.943835
01:00  MSFT | 5.618254
01:15  GOOGL| 6.298213
01:15  JPM  | 6.116462
01:15  MSFT | 6.252055
01:30  GOOGL| 5.847539
01:30  JPM  | 6.143822
..

In [ ]:
whereClause: () //no constraint 
byClause: `minute`sym!((xbar;15;`time.minute);`sym)
returnClause: enlist[`VWAP]!enlist (wavg;`size;`price)

?[trade;whereClause;byClause;returnClause]

In [41]:
//your answer here
parse "select VWAP: size wavg price by 15 xbar time.minute, sym from trade"
?[`trade;();`minute`sym!((xbar;15;`time.minute);`sym);(enlist`VWAP)!enlist(wavg;`size;`price)]

?
`trade
()
`minute`sym!((k){x*y div x:$[16h=abs[@x];"j"$x;x]};15;`time.minute);`sym)
(,`VWAP)!,(wavg;`size;`price)
minute sym  | VWAP
------------| --------
00:00  GOOGL| 5.199817
00:00  JPM  | 5.867571
00:00  MSFT | 6.17178
00:15  GOOGL| 5.515229
00:15  JPM  | 6.05027
00:15  MSFT | 6.427343
00:30  GOOGL| 5.6042
00:30  JPM  | 5.372532
00:30  MSFT | 5.925803
00:45  GOOGL| 5.699392
00:45  JPM  | 5.981638
00:45  MSFT | 6.901365
01:00  GOOGL| 6.038383
01:00  JPM  | 5.943835
01:00  MSFT | 5.618254
01:15  GOOGL| 6.298213
01:15  JPM  | 6.116462
01:15  MSFT | 6.252055
01:30  GOOGL| 5.847539
01:30  JPM  | 6.143822
..

### Writing Functions with Functional Forms

* Write the qSQL and corresponding functional form to calculate the 5 shift moving average price for the `JPM` stock series in the trade table. Call the moving average column `price_5`.

In [43]:
//qSQL 
select price_5: 5 mavg price from trade where sym = `JPM

price_5
--------
4.023332
6.163537
6.013093
5.282436
4.448553
3.986819
2.90438
2.633099
2.318293
3.741623
3.589088
3.380535
2.581333
3.932581
2.618905
3.050058
4.726241
4.78112
4.977283
6.99792
..

In [ ]:
whereClause: enlist (=;`sym;enlist `JPM)  //enlisting JPM to keep as a symbol and not interpreted as a variable
byClause:0b
returnClause:enlist[`price_5]!enlist (mavg;5;`price)

?[trade;whereClause;byClause;returnClause]

In [50]:
//your answer here
//qSQL
5#select price_5: 5 mavg price from trade where sym=`JPM

//Functional
parse "select price_5: 5 mavg price from trade where sym=`JPM"
?[trade;enlist(=;`sym;enlist`JPM);0b;enlist[`price_5]!enlist (mavg;5;`price)]

price_5
--------
4.023332
6.163537
6.013093
5.282436
4.448553
?
`trade
,,(=;`sym;,`JPM)
0b
(,`price_5)!,(k){msum[x;0.0^y]%mcount[x;y]};5;`price)
price_5
--------
4.023332
6.163537
6.013093
5.282436
4.448553
3.986819
2.90438
2.633099
2.318293
3.741623
3.589088
3.380535
2.581333
3.932581
2.618905
3.050058
4.726241
4.78112
4.977283
6.99792
..

* Write the qSQL and corresponding functional form to calculate the 5 shift moving average price for **each** stock series in the trade table. Call the moving average column `price_5`.

In [53]:
//qSQL 
select price_5: 5 mavg price by sym from trade

In [ ]:
whereClause: ()  //enlisting JPM to keep as a symbol and not interpreted as a variable
byClause:enlist [`sym]!enlist `sym
returnClause:enlist[`price_5]!enlist (mavg;5;`price)

?[trade;whereClause;byClause;returnClause]

In [58]:
//your answer here
parse "select price_5: 5 mavg price by sym from trade" 
?[`trade;();(enlist`sym)!enlist`sym;(enlist`price_5)!(enlist(mavg;5;`price))]

?
`trade
()
(,`sym)!,`sym
(,`price_5)!,(k){msum[x;0.0^y]%mcount[x;y]};5;`price)
sym  | price_5                                                               ..
-----| ----------------------------------------------------------------------..
GOOGL| 7.902781 4.38493 2.988143 4.515981 3.876308 3.639061 3.48799 4.112884 ..
JPM  | 4.023332 6.163537 6.013093 5.282436 4.448553 3.986819 2.90438 2.633099..
MSFT | 1.234537 3.289587 3.293204 3.724868 3.729893 4.238249 4.172699 3.87699..

* Write a function `Xmavg_price` that takes a single input `X` which is an atomic value and calculates the 'X' shifted moving average price for **each** stock series in the trade table. Call the moving average column `price_X`.

Test your function with a value of 5

In [60]:
Xmavg_price: {[X] 

    whereClause: () ; //enlisting JPM to keep as a symbol and not interpreted as a variable
    byClause:enlist [`sym]!enlist `sym;
    returnClause:enlist[`price]!enlist (mavg;X;`price);

    ?[trade;whereClause;byClause;returnClause]
 }
Xmavg_price 5

sym  | price                                                                 ..
-----| ----------------------------------------------------------------------..
GOOGL| 7.902781 4.38493 2.988143 4.515981 3.876308 3.639061 3.48799 4.112884 ..
JPM  | 4.023332 6.163537 6.013093 5.282436 4.448553 3.986819 2.90438 2.633099..
MSFT | 1.234537 3.289587 3.293204 3.724868 3.729893 4.238249 4.172699 3.87699..

In [61]:
//your answer here
Xmavg_price:{select price_x: x mavg price by sym from trade}
Xmavg_price 5

sym  | price_x                                                               ..
-----| ----------------------------------------------------------------------..
GOOGL| 7.902781 4.38493 2.988143 4.515981 3.876308 3.639061 3.48799 4.112884 ..
JPM  | 4.023332 6.163537 6.013093 5.282436 4.448553 3.986819 2.90438 2.633099..
MSFT | 1.234537 3.289587 3.293204 3.724868 3.729893 4.238249 4.172699 3.87699..

* Write a function `Xmavg_price` that takes a single input `shiftList` to calculate the 'X' shifted moving average price for shift within the `shiftList` variable for **each** stock series in the trade table. Call the moving average column `price_X`.

In [ ]:
Xmavg_price: {[shiftList] 

    whereClause: () ; //enlisting JPM to keep as a symbol and not interpreted as a variable
    byClause:enlist [`sym]!enlist `sym;
    returnClause:(`$"price",/:string shiftList)!{(mavg;x;`price)} each shiftList;

    ?[trade;whereClause;byClause;returnClause]
 }

Xmavg_price 5 7 

meta Xmavg_price 5 7

In [ ]:
//your answer here

## Additional Questions

* Write a function `getCols` that accepts column names from the trade table and returns these columns selected from the trade table. The function should be able to accept single items or lists.

In [ ]:
getCols:{?[trade;();0b;c!c:$[1=count x;enlist x;x]]}
getCols[`sym`size`price]
getCols[`sym]

In [65]:
//your answer here

getCols:{[columnList]?[trade;();0b;c!c:$[1=count columnList;enlist columnList;columnList]]}
getCols[`sym`size`price]
getCols[`sym]

sym   size price
--------------------
JPM   50   4.023332
JPM   416  8.303743
GOOGL 836  7.902781
JPM   701  5.712206
MSFT  971  1.234537
MSFT  99   5.344637
GOOGL 629  0.8670789
MSFT  647  3.300439
MSFT  4    5.01986
GOOGL 887  0.1945694
MSFT  644  3.749992
JPM   110  3.090464
JPM   424  1.113022
GOOGL 886  9.099495
GOOGL 651  1.317616
JPM   936  1.714663
MSFT  631  3.776316
GOOGL 316  6.716545
GOOGL 279  0.1117252
MSFT  513  5.016888
..
sym
-----
JPM
JPM
GOOGL
JPM
MSFT
MSFT
GOOGL
MSFT
MSFT
GOOGL
MSFT
JPM
JPM
GOOGL
GOOGL
JPM
MSFT
GOOGL
GOOGL
MSFT
..

* First let's add an additional column to the trade table of type string.

In [ ]:
trade:update newCol:count[trade]#("ABC";"DEF";"GHI")from trade

In [76]:
//your answer here
show n:count trade
show stringList:("ABC";"DEF";"GHI")
show trade:update newCol:n?stringList from trade

10000
"ABC"
"DEF"
"GHI"
time                 sym   size price     side exchange newCol
--------------------------------------------------------------
0D00:00:01.950602791 JPM   50   4.023332  B    L        "DEF"
0D00:00:02.454503056 JPM   416  8.303743  B    T        "DEF"
0D00:00:02.728127870 GOOGL 836  7.902781  B    N        "GHI"
0D00:00:04.588046556 JPM   701  5.712206  B    T        "GHI"
0D00:00:05.866734208 MSFT  971  1.234537  B    N        "ABC"
0D00:00:07.776400516 MSFT  99   5.344637  S    T        "DEF"
0D00:00:09.459668482 GOOGL 629  0.8670789 S    L        "GHI"
0D00:00:11.483889918 MSFT  647  3.300439  B    N        "GHI"
0D00:00:12.586957996 MSFT  4    5.01986   B    N        "GHI"
0D00:00:13.284543507 GOOGL 887  0.1945694 S    N        "DEF"
0D00:00:15.289039127 MSFT  644  3.749992  B    L        "DEF"
0D00:00:17.988166025 JPM   110  3.090464  S    T        "ABC"
0D00:00:20.896651584 JPM   424  1.113022  S    L        "ABC"
0D00:00:24.989021263 GOOGL 886  9.099495  S    N        "DEF"
0D00:00:32.307062063 GOOGL 651  1.317616  S    L        "DEF"
0D00:00:34.720690505 JPM   936  1.714663  B    T        "ABC"
0D00:00:36.422751101 MSFT  631  3.776316  S    N        "GHI"
0D00:00:38.086324184 GOOGL 316  6.716545  B    L        "DEF"
0D00:00:38.483768970 GOOGL 279  0.1117252 S    L        "ABC"
0D00:00:39.083153324 MSFT  513  5.016888  B    L        "GHI"
..

* Create a functional select query which returns all instances of the trade where `newCol` is equal to `"ABC"`.

In [ ]:
?[trade;enlist(like;`newCol;($:;enlist`ABC));0b;()]

In [87]:
//your answer here
select from trade where newCol like "ABC"

time                 sym   size price     side exchange newCol
--------------------------------------------------------------
0D00:00:05.866734208 MSFT  971  1.234537  B    N        "ABC"
0D00:00:17.988166025 JPM   110  3.090464  S    T        "ABC"
0D00:00:20.896651584 JPM   424  1.113022  S    L        "ABC"
0D00:00:34.720690505 JPM   936  1.714663  B    T        "ABC"
0D00:00:38.483768970 GOOGL 279  0.1117252 S    L        "ABC"
0D00:00:51.570652165 GOOGL 371  4.902494  S    N        "ABC"
0D00:00:57.464113668 GOOGL 900  3.691099  B    T        "ABC"
0D00:01:10.809479303 MSFT  784  10.92874  S    T        "ABC"
0D00:01:22.925719302 GOOGL 488  7.566707  B    L        "ABC"
0D00:01:56.009264988 MSFT  654  11.61283  B    N        "ABC"
0D00:02:13.816583531 GOOGL 178  3.319224  S    N        "ABC"
0D00:02:13.924920850 GOOGL 131  11.81892  B    T        "ABC"
0D00:02:14.154691039 JPM   664  3.107754  B    L        "ABC"
0D00:02:17.713824359 MSFT  168  4.06164   S    T        "ABC"
0D00:02:20.235269391 GOOGL 686  7.572337  S    L        "ABC"
0D00:02:24.741917309 GOOGL 402  7.63538   B    T        "ABC"
0D00:02:31.341069129 GOOGL 480  0.6602376 B    N        "ABC"
0D00:02:31.681836993 MSFT  204  0.8306125 B    N        "ABC"
0D00:02:41.847510291 JPM   393  9.253486  S    N        "ABC"
0D00:02:44.451292305 JPM   425  11.76448  S    N        "ABC"
..

In [88]:
?[trade;enlist(like;`newCol;($:;enlist`ABC));0b;()] //couldn't figure it out on my own

time                 sym   size price     side exchange newCol
--------------------------------------------------------------
0D00:00:05.866734208 MSFT  971  1.234537  B    N        "ABC"
0D00:00:17.988166025 JPM   110  3.090464  S    T        "ABC"
0D00:00:20.896651584 JPM   424  1.113022  S    L        "ABC"
0D00:00:34.720690505 JPM   936  1.714663  B    T        "ABC"
0D00:00:38.483768970 GOOGL 279  0.1117252 S    L        "ABC"
0D00:00:51.570652165 GOOGL 371  4.902494  S    N        "ABC"
0D00:00:57.464113668 GOOGL 900  3.691099  B    T        "ABC"
0D00:01:10.809479303 MSFT  784  10.92874  S    T        "ABC"
0D00:01:22.925719302 GOOGL 488  7.566707  B    L        "ABC"
0D00:01:56.009264988 MSFT  654  11.61283  B    N        "ABC"
0D00:02:13.816583531 GOOGL 178  3.319224  S    N        "ABC"
0D00:02:13.924920850 GOOGL 131  11.81892  B    T        "ABC"
0D00:02:14.154691039 JPM   664  3.107754  B    L        "ABC"
0D00:02:17.713824359 MSFT  168  4.06164   S    T        "ABC"
0D00:02:20.235269391 GOOGL 686  7.572337  S    L        "ABC"
0D00:02:24.741917309 GOOGL 402  7.63538   B    T        "ABC"
0D00:02:31.341069129 GOOGL 480  0.6602376 B    N        "ABC"
0D00:02:31.681836993 MSFT  204  0.8306125 B    N        "ABC"
0D00:02:41.847510291 JPM   393  9.253486  S    N        "ABC"
0D00:02:44.451292305 JPM   425  11.76448  S    N        "ABC"
..